{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <style>
        label{width:200px;display:inline-block;margin:5px;}
        #form
        {align:center;border-radius:10px;
        background-color:white;color:white;
        width:400px;padding:200px;
        }
        #submit
        {width:30%;}



    </style>
</head>
<body style = " background-image:url({% static 'images/people.jpg' %})">
<h1 style="color:yellow;text-align:center;font-size:500%;">Sign In</h1>
<fieldset style="border-radius:100px;">
<form method="post" action="login" style="background-colour:white;text-align:center;" >
    {% csrf_token %}

    <label style="text-align:center;">Enter Your Email or Username</label>
  <input type="text" name="username" placeholder="Email or Username"><br>
      <label style="text-align:center;">Enter Your Password</label>
     <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" name="submit" placeholder="submit" id="submit">

</form>
</fieldset>
{%for message in messages%}
<h1 style="text-align:center;">{{message}}</h1>
{%endfor%}
</body>
</html>